<%= render DashboardPageComponent.new(crumb: :people) do |c| %>
  <% c.with_header_title { t(:people) } %>
  <% c.with_body do %>
    <!-- Ransack Search Form -->
    <div class="mx-1 row p-4 border rounded-5 mb-5 bg-white">
      <div class="col-xl-12">
        <%= search_form_for @q, url: staff_people_path do |f| %>
          <div class="row">
            <div class="form-group mb-3 col-md-4">
              <%= f.label :email_cont, "Email" %>
              <%= f.search_field :email_cont, class: "form-control", placeholder: "Enter Email" %>
            </div>
            <div class="form-group mb-3 col-md-4">
              <%= f.label :first_name_or_last_name_cont, "First or Last Name" %>
              <%= f.search_field :first_name_or_last_name_cont,
                             class: "form-control",
                             placeholder: "Enter Name" %>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col">
              <%= f.submit "Search", class: "btn btn-primary" %>
              <%= link_to "Clear filters", staff_people_path, class: "btn btn-default" %>
            </div>
            <div class="col pt-3 text-end">
              <span class="text-nowrap" style="color:green;">&#10004; = Activated &nbsp;</span>
              <span class="text-nowrap" style="color:red;">&#10008; = Deactivated</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1 %>
    </div>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "people_table", locals: { people_accounts: @people } %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex flex-wrap">
        <%= render partial: "people_cards", collection: @people, as: :person %>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1 %>
    </div>
  <% end %>
<% end %>
