<%= render DashboardPageComponent.new(crumb: :adopters) do |c| %>
  <% c.with_header_title { t(:adopters) } %>
  <% c.with_body do %>
    <!-- Ransack Search Form -->
    <div class="mx-1 row p-4 border rounded-5 mb-5 bg-white">
      <div class="col-xl-12">
        <%= search_form_for @q, url: staff_adopters_path do |f| %>
          <div class="row">
            <div class="form-group mb-3 col-md-4">
              <%= f.label :email_cont, "Email" %>
              <%= f.search_field :email_cont,
                class: "form-control",
                placeholder: "Enter Email"
              %>
            </div>
            <div class="form-group mb-3 col-md-4">
              <%= f.label :first_name_or_last_name_cont, "Adopter Name" %>
              <%= f.search_field :first_name_or_last_name_cont,
                class: "form-control",
                placeholder: "Enter Adopter Name"
              %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit "Search", class: "btn btn-primary" %>
              <%= link_to "Clear filters", staff_adopters_path,
                class: "btn btn-default"
              %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1 %>
    </div>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "adopter_table", locals: { adopter_accounts: @adopter_accounts} %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex flex-wrap">
        <%= render partial: "adopter_cards", collection: @adopter_accounts, as: :adopter %>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1 %>
    </div>
  <% end %>
<% end %>
