<%= render DashboardPageComponent.new(crumb: :fosterers) do |c| %>
  <% c.with_header_title { "Fosterers" } %>
  <% c.with_action do %>
    <div class='d-flex align-items-center gap-2'>
      <%= link_to t(:invite_fosterer), new_staff_fosterer_invitation_path, class: "btn btn-primary" %><br>
    </div>
  <% end %>
  <% c.with_body do %>
    <% if params[:q] %>
      <%= link_to t('.export_emails'), staff_fosterers_path(request.parameters.merge({format: 'csv'})), class: "btn btn-secondary mb-4", data: {turbo: false} %>
    <% else %>
      <%= link_to t('.export_emails'), staff_fosterers_path(format: "csv"),
        class: "btn btn-secondary mb-4"
      %>
    <% end %>
    <!-- Ransack Search Form -->
    <div class="mx-1 row p-4 border rounded-5 mb-5 bg-white">
      <div class="col-xl-12">
        <%= search_form_for @q, url: staff_fosterers_path do |f| %>
          <div class="row">
            <div class="form-group mb-3 col-md-4">
              <%= f.label :email_cont, "Email" %>
              <%= f.search_field :email_cont,
                class: "form-control",
                placeholder: "Enter Email"
              %>
            </div>
            <div class="form-group mb-3 col-md-4">
              <%= f.label :first_name_or_last_name_cont, "Fosterer Name" %>
              <%= f.search_field :first_name_or_last_name_cont,
                class: "form-control",
                placeholder: "Enter Fosterer Name"
              %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit "Search", class: "btn btn-primary" %>
              <%= link_to "Clear filters", staff_fosterers_path,
                class: "btn btn-default"
              %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1 %>
    </div>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "fosterer_table", locals: { fosterer_accounts: @fosterer_accounts} %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex flex-wrap">
        <%= render partial: "fosterer_cards", collection: @fosterer_accounts, as: :fosterer %>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== @pagy.series_nav(:bootstrap) if @pagy.pages > 1 %>
    </div>
  <% end %>
<% end %>
